@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html {
    background-image: url("blue-sky-1866985_1920.jpg");
}

.tab {
    padding: 0;
    margin-top: 34px;
    margin-left: 30px;
    list-style: none;
    width: 688px;
    background: #00000029;
    backdrop-filter: blur(4px);
    line-height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
}

h1,h4,p {
    font-family: "Montserrat", sans-serif;
}

.form {
    width: 440px;
    margin-left: 30px;
    margin-top: 30px;
    display: flex;
    gap: 13px;
    flex-wrap: wrap;
}

#city {
    height: 40px;
    width: 300px;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    padding-left: 10px;
}

#button {
    height: 46px;
    width: 88px;
    font-family: "Montserrat", sans-serif;
}